@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --white:#F8F3F0;
    --medium:#228CCC;
    --dark:#054053; 
    --light:#8BD4DC;
    --gray:#2C2C2C;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Inter", sans-serif;
    position: relative;
}
@media (width<=1024px){
    .card-row{
        flex-direction: column;
    }
    .form-main{
        flex-direction: column;
    }
    .form-main .left{
        width: 70vw;
    }
    .form-main .right img{
        padding-bottom: 0 !important;
    }
    .hero-container h3{
        font-size: 1rem !important;
    }
    .hero-container h1{
        font-size: 4rem !important;
    }
    .hero-btn{
        font-size: 0.9rem !important;
    }
    .hero-container img{
        max-width: 30rem !important;
        padding-bottom: 0.8rem !important;
    }
}
@media (width<=900px){
    nav li{
        display: none;
    }
    .hero-container h3{
        font-size: 0.7rem !important;
    }
    .hero-container h1{
        font-size: 3.45rem !important;
    }
    .hero-btn{
        font-size: 0.75rem !important;
    }
    .hero-container img{
        max-width: 25rem !important;
        padding-bottom: 0.8rem !important;
    }
}
@media (width<=640px){
    .form-main .left{
        width: 80vw;
    }
    .form-main .right img{
        width: 60vw;
    }
    .hero-container h3{
        font-size: 0.5rem !important;
    }
    .hero-container h1{
        font-size: 2.0rem !important;
    }
    .form-container p{
        font-size: 0.75rem;
    }
    .hero-btn{
        font-size: 0.60rem !important;
    }
    .hero-container img{
        max-width: 20rem !important;
        padding-bottom: 0.55rem !important;
    }
}
@media (width<=475px){
    .form-main .left{
        width: 80vw;
    }
    .form-main .right img{
        width: 60vw;
    }
    .hero-container h3{
        font-size: 0.35rem !important;
        width: 17rem !important;
    }
    .hero-container h1{
        font-size: 1.25rem !important;
    }
    .form-container p{
        font-size: 0.75rem;
    }
    .hero-btn{
        font-size: 0.45rem !important;
    }
    .hero-container img{
        max-width: 15rem !important;
        padding-bottom: 0.25rem !important;
    }
    .hero-container main{
        gap: 0.4rem!important;
    }
    .hero-buttons{
        
        margin-top:0.25rem !important;
    }
    nav h2{
        font-size: 0.9rem!important;
    }
    nav{
        padding: 0.75rem 1.65rem !important;
        /* width: 65vw!important; */
    }
    .icon{
        display: none !important;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0.938rem 1.875rem;
    align-items: center;
    background-color: var(--white);
    width: 85vw;
    border-radius: 1.875rem;
    position: fixed;
    align-self: center;
    top: 1.25rem;
    z-index: 10;
   transition: transform ease-in-out 0.2s;

}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 5rem;
    font-weight: 500;
    margin-right: 7.313rem;
}
nav a{
   text-decoration: none; 
   color: var(--medium);
   font-size: 1rem;
}
nav a:hover{
    color: var(--gray);
}
nav h2{
    color: var(--medium);
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.625rem;
   
}
nav .left-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav .theme{
    color: var(--gray);
    
}
.hero-container{
    background-color: var(--white);
   
    display: flex;
    flex-direction: column;
  
    padding: 6.25rem;
    padding-bottom: 2.063rem;
}
.hero-container main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    
}
.hero-container h1{
    max-width: 49.25rem;
    font-size: 4.688rem;
    font-weight: 700;
    text-align: center;
    color: var(--medium);
    line-height: 0.99em;
    padding-left: 0.625rem;
}
.hero-container h3{
    max-width: 49.75rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--dark);
    text-align: center;
    padding-left: 0.313rem;
}
.hero-container img{
    max-height: 42vh;
    max-width: 37.5rem;
    object-fit: contain;
    padding-bottom: 1.25rem;
}
.hero-image{
    margin-top: 0;
    
}

.hero-buttons{
    display: flex;
    gap: 2.375rem;
    margin-top:0.625rem;
}

.hero-btn{
    padding: 0.438em 1.125em;
    font-size: 0.938rem;
    border: 0.125em solid var(--dark) ;
    border-radius: 1.125em;
    background-color: var(--dark);
    color: var(--white);
    cursor: pointer;
    transition: all ease-in 0.1s;
}
.form-btn{
    background-color: var(--white);
    color: var(--dark);
    border: 0.125em solid var(--dark);
}

.hero-buttons button:hover{
    opacity: 0.8;
}

.card-container{
    background-color: var(--dark);
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    justify-content: center;
    padding-bottom: 3.75rem;
    align-items: center;
}
.card{
   
    border-radius: 1.875rem;
    background-color: var(--white);
    border: 0.313rem solid var(--dark);
    align-self: center;
}
.card:hover{

    border-color: var(--white) ;
    box-shadow: 0 0 50px #9ef1f9;
}
.card-content{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2.813rem;
    color: var(--dark);
    max-width: 16.875rem;
    text-align: center;
    padding: 0 1.25rem;
}
.card-row{
    display: flex;
    align-self: center;
    gap: 3.75rem;
    /* flex-direction: column; */
    justify-content: space-around;
}
.card-container h1{
    color: var(--white);
    font-size: 2.813rem;
    align-self: center;
    padding-top: 2.5rem;
    position: relative;
}
.card-container h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1vh;
    background-color: var(--light);
    width: 0%;
    /* transition: all 0.1s; */
   
}
.card-container h1:hover::after{
    animation-name: animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes animation {
    0%{
        width: 0%;
        left: 0;
    }
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0%;
        left: 100%;
    }
}
.card-container h1:hover::before
{
    width: 100%;
}
.card-container h3{
    font-size: 1.25rem;
}
.card-container p{
    color: var(--dark);
    font-weight: 400;
}
.marquee{
    width: 100%;
    padding: 0 0;
    background-color: var(--medium);
    white-space: nowrap;
    overflow: hidden;
}
.marquee h2{
    font-size: 10.875rem;
    font-weight: 400;
    color: var(--white);
    font-family: "Fira Sans Extra Condensed", sans-serif;
    letter-spacing: 0.5rem;
    /* overflow: hidden; */
    animation: 50s slide linear;
    animation-iteration-count: infinite ;
}
.marquee-div{
    overflow: hidden;
    display: flex;
    gap: 1.5rem;
    white-space: nowrap;
    
}
@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}
.form-container{
    background-color: var(--white);
    padding-top: 2.5rem;
}
.form-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-head h2{
    color: var(--dark);
    font-size: 2.813rem;
    align-self: center;
    padding-top: 2.5rem;
    position: relative;
    margin-bottom: 1.563rem;
    line-height: 1vh;
    align-self: center;
}
.form-container p{
    font-size: 1.2rem;
    overflow: hidden;
    text-align: center;
}
.form-main {
    width: 100%;
    margin-top: 4vh;
    display: flex;
    padding-bottom: 5vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.form-main .left{
    min-width: 40vw;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
    

.form-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    border-radius:1.25rem;
    background-color: var(--white);
    
}
.form-wrapper input{
    margin: 0.2em 0;
    padding: 0.5rem 0.625em;
    width: 100%;
    border-radius: 1rem;
    border: 0.063rem solid var(--dark);
    /* background: none; */
}
.form-set{
    margin-bottom: 0.7em;
    width: 95%;
}

.form-main .right img{
    max-height: 50vh;
    padding-bottom: 15vh;
    object-fit: fill;
}
.submit{
    border-color: var(--dark);
    color: var(--white);
    padding: 0.438em 1.125em;
    font-size: 0.938rem;
    border: 0.063rem solid var(--dark) ;
    background-color: var(--dark);
    cursor: pointer;

}
.submit:hover{
    background-color: #ffffff;
    color: var(--dark);
}
.footer{
    height: 6vh;
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.footer h4{
    color: var(--medium);
    font-weight: 500;
}
.hide-the-nav{
    transform: translateY(-6.25rem);
}